.content {
  padding: 10px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input-group {
  display: grid;
  grid-template-columns: 20vw 20vw;
  gap: 15px;
}

.main-list {
  width: 85%;
  background: #c0c0c0;
  border: 2px solid #c0c0c0;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.list {
  display: flex;
  align-items: center;
  gap: 5px;
}
.list-item {
  cursor: pointer;
  width: 30vw;
  padding: 10px;
  border: 2px solid #799fbf;
  border-radius: 10px;
  background: #799fbf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all ease-in-out 0.8s;
}
.delete {
  cursor: pointer;
  color: #9a9a9a;
  transition: all ease-in-out 0.6s;
}

.delete:hover {
  color: #c4342d;
}
.list-item:hover {
  border: 2px solid #4682b4;
  background: #4682b4;
  box-shadow: 4px 4px 3px #666;
}
.list-item > p:nth-child(2) {
  font-size: 0.8rem;
}

footer {
  background: #4f4f4f;
  grid-area: footer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-title {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.category-reset {
  transition: all ease-in-out 0.6s;
  cursor: pointer;
}
.category-reset:hover {
  color: #ec5353;
}
